@model AdBoard.ViewModels.HomeViewModel
@{
    ViewBag.Title = "Index";

}

<h2>Главная страница</h2>
<h3>
    @if (AdBoard.Helpers.AuthHelper.IsAuthenticated(Context))
    {
        @AdBoard.Helpers.AuthHelper.GetUser(Context).Email<br />
        @Html.ActionLink("Выйти", "LogOff", "Account",null, new { @class = "classForLinks" })<br />
        if (AdBoard.Helpers.AuthHelper.GetUser(Context).RoleId != 1)
        {
            @Html.ActionLink("Аккаунт", "GoToAccount", "Account", null, new { @class = "classForLinks" })<br/>
        }
        else
        {
            @Html.ActionLink("Администрирование", "Admin", "Admin", null, new { @class = "classForLinks" })<br />
        }
    }
    else
    {
        using (Html.BeginForm("LogIn", "Account", FormMethod.Post))
        {
            @Html.TextBoxFor(l => l.Email, new { @class = "classForLinks" })
            @Html.ValidationMessageFor(l => l.Email)<br />
            @Html.PasswordFor(l => l.Password, new { @class = "classForLinks" })
            @Html.ValidationMessageFor(l => l.Password)<br />
            <input type="submit" class="b1"value="Войти" /><br />
            @Html.ActionLink("Регистрация", "Registration", "Registration", null, new { @class = "classForLinks" })
        }
    }
</h3>
