@model AdBoard.ViewModels.HomeViewModel
@{
    ViewBag.Title = "GetAllAds";
    
}

<h2>Просмотр всех объявлений</h2>
@Html.ActionLink("Назад", "GoToAccount", "Account")
@Html.ActionLink("Поиск", "Index", "GetAllAds")
@foreach (var item in Model.Ads)
{ 
    <div class="d">
        <text>Название: </text>@item.Title<br />
        @if (@item.AdTypeId == 1)
        {
            <text>Вид: Продам</text><br />
        }
        else
        {
            <text>Вид: Куплю</text><br />
        }
        <text>Дата публикации: </text>@item.CreateDate.ToShortDateString()<br />
        <text>Описание: </text>@item.Text<br />
        @foreach (var image in item.Images)
        {
        <img src="@image.SmallImage" /><br />
        }
        @item.User.FirstName @item.User.LastName<br />
        @item.User.Email<br />
    </div>
}
