@model AdBoard.Models.AdModel
@{
    ViewBag.Title = "UserAccount";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>UserAccount</h2>

@Html.ActionLink("Добавить объявление", "AddAd", "User")<br />
@Html.ActionLink("Выйти", "LogOff", "Account")<br />
<br />
@foreach (var item in Model.Ads)
{
    <text>Название: </text>@item.Title<br />
    <text>Дата публикации: </text>@item.CreateDate.ToShortDateString()<br />
    <text>Описание: </text>@item.Text<br />

    foreach (var image in item.Images)
    {
        <img src="@image.SmallImage" />
    }
    <br />
    @Html.ActionLink("Удалить", "RemoveAd" , "User" , new { id=item.Id }, null)
    <br />
    @Html.ActionLink("Редактировать", "EditAd", "User", new { id = item.Id }, null)
    <br />
    <br /><br />
}