@model AdBoard.ViewModels.AdViewModel
@{
    ViewBag.Title = "UserAccount";
    
}

<h2>Аккаунт</h2>
@AdBoard.Helpers.AuthHelper.GetUser(Context).Email<br />
@if (AdBoard.Helpers.AuthHelper.GetUser(Context).RoleId != 1)
{
    @Html.ActionLink("Добавить объявление", "AddAd", "User")<br />
}
else
{
    @Html.ActionLink("Администрирование", "Admin", "Admin")<br />
}
@Html.ActionLink("Просмотреть все обьявления","GetAllAds","GetAllAds")<br/>
@Html.ActionLink("Выйти", "LogOff", "Account")<br />
<br />
    

    @foreach (var item in Model.Ads)
    {
        <div class="d">
            <text>Название: </text>@item.Title<br />
            @if (@item.AdTypeId == 1)
            {
                <text>Вид: Продам</text><br />
            }
            else
            {
                <text>Вид: Куплю</text><br />
            }
            <text>Дата публикации: </text>@item.CreateDate.ToShortDateString()<br />
            <text>Описание: </text>@item.Text<br />

            @foreach (var im in item.Images)
            {

            <img src="@im.SmallImage" />
            <br />

            }
            @Html.ActionLink("Удалить", "RemoveAd", "User", new { id = item.Id }, null)
            <br />
            @Html.ActionLink("Редактировать", "EditAd", "User", new { id = item.Id }, null)
            <br />
        </div>
    }
    